# SECRET_KEY de Django (cámbiala en producción)
DJANGO_SECRET_KEY=django-insecure-_)doxtosak_g=*ilerp#=6pkm=s_5%ycju13=#lps-hl%v0gaf

# True para desarrollo, False para producción
DJANGO_DEBUG=True

# Hosts permitidos separados por coma
DJANGO_ALLOWED_HOSTS=*

# Contraseña de aplicación de Gmail (para enviar emails)
# En Railway, configurar como variable de entorno
EMAIL_HOST_PASSWORD=tu_password_de_gmail_aqui
